PORT=5000
MONGO_URI=mongodb+srv://kush:kushparekh@cluster0.pehh7i8.mongodb.net/?appName=Cluster0
JWT_SECRET=change_this_to_a_long_random_string
ADMIN_EMAIL=kushparekh01@gmail.com
ADMIN_PASSWORD=123Kush@uu
CLIENT_URL=http://localhost:5173
